*{
    font-family: 'Dancing Script', cursive;
}


body, html {

    margin: 0px ;
    padding: 0px;
}



.quadrado {
    width: 100px;
    height: 100px;
    background-color: rgb(42, 81, 165);
    border: 10px solid yellowgreen;
    position: static;
    
    
}

.quadrado-relative {
    width: 35px;
    height: 35px;
    border: 10px solid rgb(0, 0, 0);
    background-color: rgb(173, 44, 44);
    position: relative; 
    top: 0px;
    right: 0px;
}


 .quadrado-absolute {
    width: 35px;
    height: 35px;
    border: 10px solid rgb(206, 189, 38);
    background-color: rgb(59, 173, 44);
    position: absolute; 
    bottom: 0px;
    right: 0px;
 }

 .quadrado-pai {
 position: relative;

 }

 .quadrado-fixed { 
    width: 35px;
    height: 35px;
    border: 10px solid rgb(0, 0, 0);
    background-color: rgb(173, 44, 44);
    position: fixed;
    bottom: 20px;
    left: 20px;

 }

 .quadrado-sticky {
    width: 35px;
    height: 35px;
    border: 10px solid rgb(0, 0, 0);
    background-color: rgb(173, 44, 44);
    position: sticky;
    top: 0px;

 }